<div class="container_CU_WD">
 <div class="row" id="main_row_WD">
  <div class="contact_WD col-sm-6 col-md-6 col-lg-6">
  <div class="heading">GENERAL ENQUIRIES<span class="triangle"></span></div>
  <form class="form-horizontal form_WD">
    <div class="control-group">
        <div class="controls form-inline">
            <span class="label_WD">First Name</span><span                          style="color:red;float:right">REQUIRED</span><br/>
            <input type="text" name="firstname"  class="textbox_WD">               <br/>
            <span class="label_WD">Last Name</span><span                                       style="color:red;float:right">REQUIRED</span><br/>
            <input type="text" name="lastname"  class="textbox_WD">                   <br/>
        </div>
    </div>
        <div class="control-group">
            <div class="controls form-inline">
                 <span class="label_WD">E-mail</span><span                           style="color:red;float:right">REQUIRED</span><br/>
            <input type="text" name="email"  class="textbox_WD">               <br/>
            <span class="label_WD">Phone</span><span                           style="color:red;float:right">REQUIRED</span><br/>
            <input type="text" name="phone"  class="textbox_WD">               <br/>
            </div>
        </div>
  </form>
  </div>
 </div>
</div>

   

   
   
   
   
   
   
   
   

            
        
            
           
          <!--  <span class="label_WD">Message</span><br/>    <textarea rows="5"  class="textarea_WD" id="myTextarea"></textarea>
            <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <form class="form1_WD">
             <input type="submit" value="Submit" class="submit_WD" width="100">
         </form>
     </div>
     </div>
                
            </form>
        </div>
        
        
            
                  
    

          
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="container_CU_WD">
            {{content}}
            <div class="heading1">CONTACT INFO<span class="triangle1"></span></div>
            
            </div>
          
     </div>
    
     
</div>-->
        

    
        
        