     
   <div class=" footer_WD " id="footer_WD">
       
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sec1_WD">
            <p>DESIGNED WITH LOVE BY {{@blog.title}}</p>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 sec2_WD">
            <form class="subscribeForm_footer">
                <input type="text" name="email" placeholder="ENTER YOUR E-MAIL" class="email_WD" >
                <input type="submit" value="SUBSCRIBE" class="submit_footer_WD">
            </form>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sec3_WD">
            <p class="copyright_WD">&COPY {{@blog.title}} PYT LTD</p>
        </div>
    </div>
    

    
